<!DOCTYPE html>
<html lang="en">
    <head>
        <title>clipdecliprepeat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <div class="center-column-container topbar-container" style="color: black;">
            <div class="container">
                <p style="text-align: center;">С Днем Рождения, Дружище!)</p>
                <p style="font-size: 14px; text-align: justify;">
                    Эту надпись ты видишь только сейчас, потом я ее выпилю отсюда) Вспомнил про твой др только сегодня в 2 часа дня) Запилить тебе сайт-портфолио показалось лучшей идеей для подарка))) Из-за нехватки времени дизайна тут нет, но он пока и не нужен, потому что лучше потом сделаем тот, который тебе хочется) Портфолио тоже пока особо нет:) думаю, лучше тебе подумать и выбрать, что хочешь разместить) Можно было сразу все продумать, но захотелось подержать интригу, хотя ты днем уже наверное догадался)))
                </p>
            </div>
        </div>

        <div class="center-column-container">
            <div class="container data" id="about-me-data">
                <div class="avatar-container">
                    <img class="avatar" id="avatar" src="/static/images/avatar.png" alt="clipdecliprepeat">
                </div>
                <div class="text name">Timapelov</div>
                <div class="cn-links-container">
                    <a href="mailto:tv-kzn@ya.ru">
                        <img class="cn-link" src="/static/images/icons/email.svg">
                    </a>
                    <a href="https://t.me/timapelov">
                        <img class="cn-link" src="/static/images/icons/telegram.svg">
                    </a>
                    <a href="https://instagram.com/timapelov">
                        <img class="cn-link" src="/static/images/icons/instagram.svg">
                    </a>
                </div>
                <div class="center-column-container">
                    <button id="go-to-portfolio-button">Go to portfolio --></button>
                </div>
            </div>
        </div>

        <div class="container data" id="portfolio">
            <div class="center-column-container portfolio-close-button-container">
                <button id="close-portfolio-button" style="margin-top: 10px">close</button>
            </div>
            <div class="center-column-container portfolio-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BSFu0rS7eyg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="center-column-container portfolio-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/oKwBivvLVmA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </body>

    <script src="/static/scripts/index.js">

    </script>
</html>