<!DOCTYPE html>
<html lang="en">
    <head>
        <title>clipdecliprepeat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <div class="center-column-container topbar-container">
            <div class="container topbar">
                С Днем Рождения, Дружище!) Эту надпись ты видишь только сейчас, потом я ее выпилю отсюда) Честно, я вспомнил про твой др только сегодня в 2 часа дня) Запилить тебе сайт-портфолио показалось лучшей идеей для подарка))) Из-за нехватки времени дизайн отстой, но он пока и не нужен, потому что лучше потом сделаем тот, который тебе хочется)
            </div>
        </div>
        <div class="center-column-container">
            <div class="container data" id="about-me-data">
                <div class="avatar-container">
                    <img class="avatar" id="avatar" src="/static/images/avatar.png" alt="clipdecliprepeat">
                </div>
                <div class="text name">Timapelov</div>
                <div class="cn-links-container">
                    <a href="mailto:tv-kzn@ya.ru">
                        <img class="cn-link" src="/static/images/icons/email.svg">
                    </a>
                    <a href="https://t.me/timapelov">
                        <img class="cn-link" src="/static/images/icons/telegram.svg">
                    </a>
                    <a href="https://instagram.com/timapelov">
                        <img class="cn-link" src="/static/images/icons/instagram.svg">
                    </a>
                </div>
            </div>
        </div>

        <div class="center-column-container tail">2022, Kazan</div>
    </body>

    <script src="/static/scripts/index.js"></script>
</html>